# Basic settings
PAPERLESS_SECRET_KEY={{ paperless_secret_key | default('CHANGE_ME_SECRET_KEY') }}
PAPERLESS_URL={{ PAPERLESS_URL }}
PAPERLESS_TIME_ZONE=Europe/Berlin
PAPERLESS_LOCALE=de_DE
PAPERLESS_LANG=en

# --- Admin / First Superuser ---
PAPERLESS_ADMIN_USER={{ paperless_admin_user | default('admin') }}
PAPERLESS_ADMIN_PASSWORD={{ paperless_admin_password | default('CHANGEME') }}
PAPERLESS_ADMIN_EMAIL={{ paperless_admin_email | default('admin@example.com') }}

# OCR languages
PAPERLESS_OCR_LANGUAGE=deu
PAPERLESS_OCR_LANGUAGES=deu+eng

# Database settings (müssen zu docker-compose.yml passen)
PAPERLESS_DBENGINE=postgresql
PAPERLESS_DBNAME={{ paperless_db_name }}
PAPERLESS_DBUSER={{ paperless_db_user }}
PAPERLESS_DBPASS={{ paperless_db_password }}
PAPERLESS_DBHOST=db
PAPERLESS_DBPORT=5432
